<h1>Ini About</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/pas foto.jpeg" alt="Azzam Rafi Zafran" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Azzam Rafi Zafran</h1>
      <p class="lead">Web Developer | Fullstack Developer</p>
    </div>
  </div>
</div>